.other-downloads {
  width: 100%;
  max-width: var(--max-content-width);
  margin-top: 2rem;

  h2 {
    margin: 0 0 1rem;
  }

  ul {
    list-style: disc;
    line-height: 2rem;
    margin: 0 0 0 1rem;
  }
  li {
    margin-bottom: 1rem;
  }
}
