@import '../../styles/variables';

.container,
.other-downloads {
  width: 100%;
  max-width: var(--max-content-width);

  h2,
  ul,
  li {
    margin: 0 0 1rem;
  }

  ul {
    list-style: disc;
    line-height: 2rem;
  }
}

.container {
  display: flex;
  padding-top: 0.5rem;

  .download {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 1.25rem;
      margin: 0.5rem 0 0;
      text-align: center;
      max-width: calc(var(--download-button-width) + 6rem);
    }
  }
}

.other-downloads {
  margin: 2rem 0;
}

@media (min-width: $tablet-breakpoint +1) {
  .container {
    margin: 2rem 0;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: $tablet-breakpoint) {
  .container {
    flex-direction: column-reverse;

    > * {
      margin: 2rem 0;
    }
  }
}
