@import '../../variables';

.container,
.other-downloads {
  h2,
  ul,
  li {
    margin: 0 0 1rem;
  }

  ul {
    line-height: 2rem;
    list-style: disc;
  }
}

.container {
  display: flex;
  padding-top: 0.5rem;

  .download {
    align-items: center;
    display: flex;
    flex-direction: column;

    p {
      font-size: 1.25rem;
      margin: 0.5rem 0 0;
      max-width: calc(var(--download-button-width) + 6rem);
      text-align: center;
    }
  }
}

.other-downloads {
  margin: 2rem 0;
}

@media (min-width: $tablet-breakpoint) {
  .container {
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
  }
}

@media (max-width: $tablet-breakpoint - 1) {
  .container {
    flex-direction: column-reverse;

    > * {
      margin: 2rem 0;
    }
  }
}
