.download-confirm {
  text-align: center;
}

.download-confirm {
  padding: 4rem 0;
}

.filehosts {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  > * {
    padding-right: 4rem;
  }

  > *:last-child {
    padding-right: 0;
  }

  img {
    max-width: 16.25rem;
    max-height: 3.125rem;
  }
}
