@import '../variables';

.post-list {
  list-style-type: none;
  padding: 1.5rem 0;
}

.post {
  padding: 3rem 0;

  .excerpt {
    margin: 0;
    padding: 1rem 0 0;
  }
}

.pagination {
  font-size: 1.875rem;
  padding: 2rem 0 5rem;

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
    margin: 0;
    padding: 0;

    > *:last-child {
      text-align: right;
    }

    li > * {
      text-decoration: none;
    }
  }
}
