@import '../variables';

.blog-post {
  padding: 2.5rem 0;

  .text {
    margin: 3rem 0;

    img {
      max-width: 100%;
    }

    li {
      padding: 0.2rem 0;
    }
  }
}

.post-comments {
  padding-bottom: 3rem;
  h2,
  p {
    margin: 0;
    padding: 0;
  }

  article {
    padding: 1rem 0;
  }
  .comment-header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.25rem;
    width: 66%;

    .comment-poster {
      font-size: 2rem;
    }

    .comment-date {
      font-size: 1.25rem;
    }
  }

  .comment-body {
    width: 66%;
  }
}
