@import '../../styles/variables';

.post-list {
  padding: 1.5rem 0;
  max-width: var(--max-content-width);
  width: 100%;
  list-style-type: none;
}

.post {
  padding: 3rem 0;

  .excerpt {
    padding-top: 1rem;
  }
}

// .pagination {
//   width: calc(100% - 15rem);
//   padding: 5rem 7.5rem 2.5rem;
//   font-size: 1.875rem;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: end;
// }
