@mixin header-footer {
  background-color: var(--header-footer-bg);
  background-image: url(/texture_headfoot.jpg);
  box-shadow: 0 0 1.25rem 1rem rgba(142, 142, 142, 0.4);
  box-shadow: 0 0 1.25rem 0.75rem rgba(0, 0, 0, 0.5);
  z-index: 2;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
