@import '../styles/variables';

.hero {
  height: 62.5vw;
  width: 100vw;
  max-width: 100vw;
  max-height: calc(var(--max-site-width) * 1080 / 1920);

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: calc(-1 * var(--download-button-height) / 2);

  .hero-body {
    padding-top: 2.5rem;
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .hero-logo {
      width: 50vw;
      max-width: var(--max-body-width);
    }

    .hero-text {
      max-width: var(--max-content-width);
      padding-bottom: 5rem;

      font: var(--hero-font);
    }
  }

  .hero-btn {
    margin-top: calc(-1 * var(--download-button-height) / 2);
  }
}

.info-boxes {
  max-width: var(--max-body-width);
  display: grid;
  grid: auto-flow dense / repeat(5, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  align-items: center;

  .info-image-even {
    grid-column: 1/4;
  }
  .info-image-odd {
    grid-column: 3/6;
  }

  .info-text {
    margin: 0;
    grid-column: span 2;
    font: var(--info-font);
  }
}
@import 'index.responsive.scss';
