@import '../styles/variables';

@media (min-width: $desktop-breakpoint + 1) {
  .hero-text {
    margin: 0;
  }
  .info-boxes {
    margin: 6rem 0;
  }
}

@media (max-width: $desktop-breakpoint) {
  .hero-text {
    margin: 0 1rem;
  }

  .info-boxes {
    display: flex;
    flex-direction: column;
    width: calc(100% - 3rem);
    padding: 5rem 3rem 3rem;

    .info-text,
    img[class^='info-image-'] {
      padding: 1rem;
      object-fit: contain;
      text-align: center;
    }
  }
}

@media (min-width: $tablet-breakpoint + 1) {
  .webp .hero-body {
    background: no-repeat bottom/100% url(../../data/img/hero_bg.webp);
  }

  .hero-body {
    // max-height: calc(var(--max-site-width) * 1080 / 1920);
    background: no-repeat bottom/100% url(../../data/img/hero_bg.jpg);

    .hero-text {
      color: var(--white);
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .hero {
    height: auto;
  }
  .hero-body {
    background: none;

    .hero-text {
      margin-top: 1.5rem;
      color: black;
    }
  }

  .info-boxes {
    width: 100%;
    padding: 5rem 0 3rem;
  }
}
