@import '../variables';

footer {
  height: var(--footer-height);

  .footer-credits {
    margin: 0;
    padding-left: 2rem;
    text-align: center;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-social-media-links {
    padding-right: 2rem;
    display: flex;
    list-style-type: none;
    margin: 0;

    > *,
    > * > a {
      display: block;
    }

    > *:not(:last-child) {
      padding-right: 2rem;
    }

    svg,
    img {
      height: 2.5rem;
      fill: var(--main-bg);
    }
  }
}

@media (max-width: $tablet-breakpoint - 1) {
  .footer {
    flex-direction: column;
    height: auto;

    .footer-social-media-links,
    .footer-credits {
      padding: 0.5rem;
    }
  }
}
