@import '../variables';

.site-header {
  --logo-height: 3.5rem;
  --button-padding: calc((4.5rem - 1.25rem) / 2);

  padding: 0 2.5rem 0 1rem;
  width: calc(100vw - 1rem - 2.5rem);

  position: fixed;
  top: 0;
  height: var(--header-height);

  font: var(--headline-font);
  font-size: 2.5rem;

  a {
    text-decoration: none;
  }

  .header-logo {
    .header-img {
      flex: 1;
      line-height: 0;
      height: var(--logo-height);
      width: calc(var(--logo-height) * 300 / 92);
    }
  }

  #header-menu > ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;

    list-style-type: none;

    > li {
      line-height: var(--header-height);
      margin: 0;
    }
  }

  #exit-button,
  #hamburger-button {
    margin: 0;
    padding: 0;
    line-height: 0;
  }

  #hamburger-button {
    fill: var(--main-bg);
  }

  #exit-button {
    fill: var(--header-footer-bg);
  }
}

@media (min-width: $tablet-breakpoint) {
  #hamburger-button,
  #exit-button,
  .home-link {
    display: none;
  }

  #header-menu {
    width: 100%;
    flex-direction: column;
    align-items: flex-end;

    > ul > li:not(:last-child) {
      padding-right: 4rem;
    }
  }
}

@media (max-width: $tablet-breakpoint - 1) {
  .webp #header-menu {
    background: var(--main-bg) url(../../data/img/texture_bg.webp);
  }

  .site-header:not(.noscript) #header-menu {
    position: absolute;
    padding: var(--button-padding) 2.5rem 3rem 3rem;
    height: calc(100vh - 3rem - var(--button-padding));
    width: calc(100vw - 5.5rem);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;

    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    background: var(--main-bg) url(../../data/img/texture_bg.jpg);

    > ul {
      flex-direction: column;
      > li {
        padding: 0;
      }
    }
  }

  .site-header.noscript {
    align-items: stretch;
    height: auto;
    position: relative;
    flex-direction: column;
    padding: 1rem;
    width: auto;

    #header-menu {
      background: none;
      > ul {
        flex-direction: column;
        text-align: right;
      }
    }

    #hamburger-button,
    #exit-button {
      display: none;
    }
  }
}
