$desktop-breakpoint: 1024px;
$tablet-breakpoint: 992px;
$mid-size: 1.75rem;

:root {
  --header-footer-bg: #b19776;
  --link-hover: #5c4e3c;
  --blog-meta: #444444;
  --main-bg: #f9eeda;
  --white: #ffffff;

  --body-font-family: 'IM FELL English', Georgia, Times, serif;
  --headline-font-family: 'IM FELL English SC', Georgia, serif;

  --headline-font: normal 3rem var(--headline-font-family);
  --body-font: normal 1.5rem var(--body-font-family);
  --button-font: normal 2.5rem / var(--download-button-height) var(--headline-font-family);
  --hero-font: normal 2.15rem var(--body-font-family);
  --info-font: normal 1.75rem var(--body-font-family);
  --blog-meta-font: italic 1.25rem var(--body-font-family);

  --max-content-width: 65rem;
  --max-body-width: 85rem;
  --max-site-width: 100rem;
  --header-height: 4.5rem;
  --footer-height: 4.5rem;
  --footer-mobile-height: 6.5rem;
  --download-button-height: 6.25rem;
  --download-button-width: 18.125rem;
}
