#carousel {
  position: relative;
  height: 100px;
  overflow: hidden;

  div {
    position: absolute;
    opacity: 1;

    &.hideLeft {
      left: 0%;
      opacity: 0;
    }

    &.hideRight {
      left: 100%;
      opacity: 0;
    }

    &.prev {
      z-index: 5;
      left: 30%;
    }

    &.prevLeftSecond {
      z-index: 4;
      left: 15%;
    }

    &.selected {
      z-index: 10;
      left: 50%;
    }

    &.next {
      z-index: 5;
      left: 70%;
    }

    &.nextRightSecond {
      z-index: 4;
      left: 85%;
    }
  }
}
.buttons {
  margin-left: 30vw;
}
