.btn-download {
  background: no-repeat center/100% url(../../../data/img/texture_btn.png);
  width: var(--download-button-width);
  height: var(--download-button-height);
  text-decoration: none;

  font: var(--button-font);
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}
