@import '../../styles/mixins';

.site-header {
  @include header-footer;
  --logo-height: 3.5rem;

  padding: 0 2.5rem 0 1rem;
  width: calc(100vw - 1rem - 2.5rem);

  position: fixed;
  top: 0;
  height: var(--header-height);

  a {
    text-decoration: none;
  }

  .header-menu {
    width: 100%;

    > ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-evenly;

      list-style-type: none;

      li {
        line-height: var(--header-height);
        display: block;
        margin: 0;
      }

      .header-logo {
        flex: 1;
        line-height: 0;

        img {
          flex: 1;
          line-height: 0;
          height: var(--logo-height);
          margin-top: calc((var(--header-height) - var(--logo-height)) / 2);
        }
      }

      > *:not(:last-child) {
        padding-right: 4rem;
      }
    }
  }

  font: var(--headline-font);
  font-size: 2.5rem;
}
