@import '../../styles/mixins', '../../styles/variables';

.site-header {
  @include header-footer;
  --logo-height: 3.5rem;
  --button-padding: calc((4.5rem - 1.25rem) / 2);

  padding: 0 2.5rem 0 1rem;
  width: calc(100vw - 1rem - 2.5rem);

  position: fixed;
  top: 0;
  height: var(--header-height);

  font: var(--headline-font);
  font-size: 2.5rem;

  a {
    text-decoration: none;
  }

  .header-logo {
    flex: 1 1 auto;
    .header-img {
      flex: 1;
      line-height: 0;
      height: var(--logo-height);
      width: calc(var(--logo-height) * 300 / 92);
    }
  }

  #header-menu > ul {
    margin: 0;
    padding: 0;
    justify-content: flex-end;

    list-style-type: none;

    > li {
      line-height: var(--header-height);
      margin: 0;
    }
  }

  #exit-button,
  #hamburger-button {
    margin: 0;
    padding: 0;
    line-height: 0;
  }

  #hamburger-button svg {
    fill: var(--main-bg);
  }

  #exit-button {
    fill: var(--header-footer-bg);
  }
}

@media (min-width: $tablet-breakpoint + 1) {
  #hamburger-button,
  #exit-button,
  #home-link {
    display: none;
  }
  #menu {
    display: flex;
  }

  #header-menu {
    width: 100%;
    flex-direction: column;
    align-items: flex-end;

    > ul > li:not(:last-child) {
      padding-right: 4rem;
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  #exit-button,
  #menu {
    display: none;
  }

  #header-menu {
    position: absolute;
    padding: var(--button-padding) 3rem 3rem;
    height: calc(100vh - 3rem - var(--button-padding));
    width: calc(100vw - 3rem - var(--button-padding));
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    background: var(--main-bg) url(../../../data/images/texture_bg.jpg);

    > ul {
      flex-direction: column;
      > li {
        padding: 0;
      }
    }
  }
  #header-menu.hidden {
    background: transparent;
    justify-content: flex-end;
  }
}
