@import "../../styles/mixins";

header {
  @include header-footer;
  position: fixed;
  top: 0;
  height: var(--header-height);

  .header-logo {
    height: 3.5rem;
  }

  .header-menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 4rem;

    font: var(--headline-font);
    font-size: 2.5rem;
  }
}
