@import '../../styles/variables';

.post-header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem 1.5rem;

  h1,
  a {
    font: var(--headline-font);
    margin: 0;
    text-decoration: none;
  }

  .date,
  .author {
    font: var(--blog-meta-font);
    color: var(--blog-meta);
    padding: 0;
    margin: 0;
  }

  .date {
    text-align: right;
    padding-top: 0.5rem;
  }
}
